services:
  postgres:
    image: postgres:17.4
    container_name: postgres_container
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_container
    environment:
      DATABASE_URL: "${DATABASE_URL}"
      JWT_SECRET: "${JWT_SECRET}"
      URL_BASE_EMAIL: "${URL_BASE_EMAIL}"
    ports:
      - "3000:3000"
      - "9229:9229"
    depends_on:
      - postgres
    command: >
      sh -c "
      npx prisma migrate deploy &&
      npx prisma generate &&
      node --import ./src/instrument.js --inspect=0.0.0.0:9229 server.js
      "

volumes:
  postgres_data:
