services:
  postgres:
    image: postgres:17.4
    container_name: postgres_container
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
      build:
        dockerfile: Dockerfile
      container_name: backend_container
      environment:
        DATABASE_URL: "${DATABASE_URL}"
        JWT_SECRET: "${JWT_SECRET}"
        MAIL_USER: "${MAIL_USER}"
        MAIL_PASS: "${MAIL_PASS}"
      ports:
        - "3000:3000"
      depends_on:
        - postgres
      command: >
        sh -c "
        npx prisma migrate deploy &&
        npx prisma generate &&
        npm run start
        "

volumes:
  postgres_data:
